.card-header {
    background-color: #ff6666;
    font-size: calc(10px + 2vmin);
    color: white;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}